* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #dee1e7;

    --text1: #2f2f2ffa;
    --text2: #6c7890;
    --text3: #b1b6be;

    --border: #e0e0e0;
    
    --white: #ffffff;
    --blue: #c9e5fc;
    --light-blue: #f4f7fd;
}

:focus {
    outline: 0;
}


body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-weight: 500;
    font-size: 1rem;
    color: var(--text);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}