main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > header {
    width: 1040px;
    height: 70px;

    padding: 14px;
    border-bottom: 1px solid var(--border);
    background-color: var(--white);
    border-radius: 8px 8px 0 0;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 160px;
      height: 24px;
    }
  }
}

.translator-container {
  position: relative;
  
  width: 1040px;
  
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  .translate-area {
    padding: 20px;
    flex: 1;

    .languages-wrapper {
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border);

      color: var(--text1);

      select {
        width: 100%;
        height: 48px;
        padding: 0 16px;
        border-radius: 6px;
        color: var(--text1);
        font-size: 14px;

        border: none;
      }

      &.first {
        select {
          background-color: var(--light-blue);
        }

      // &.second {
      //   select {
      //     background-color: var(--light-blue);
      //   }
      // }
      }

      .selected-languages {
        button {
          height: 48px;
          padding: 0 16px;
          border-radius: 8px;
          color: var(--text2);
          font-size: 14px;
          
          &.active {
            color: var(--text1);
            background-color: var(--blue);
          }
  
          transition: .2s;
          
          &:hover {
            filter: brightness(0.95);
          }
        }
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      padding: 16px 0;

      textarea {
        flex: 1;
        height: 300px;
        resize: none;
        border: 0;
        background: transparent;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: var(--text1);
          font-size: 20px;
        }
      }
    }

    i {
      color: var(--text1);
    }

    &.first {
      footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: var(--text1);
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &.second {
      background-color: var(--light-blue);
      border-bottom-right-radius: 8px;

      footer {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}